body {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

h1, 
h2, 
h3 {
    color: rgb(24, 24, 128)
}

ul,
ol {
    border: 2px solid black;
    border-radius: 5px;
    text-align: left;
}

img {
    width: 600px;
    height: auto;
}